---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    
  <div class="page__footer" style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items:flex-start">
    <div style="flex: 60%;">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
    </div>

    <div style="flex: 12%; overflow: hidden;">
      <div style="padding-right: 5vw; padding-top: 2vw; max-width: 10vw;">
        <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d={{site.view_map_d}}"></script>
      </div>
    </div>
    
    <div style="flex: 28%; min-width:10vw;">
    </div>
   
  </div>

    {% include scripts.html %}

  </body>
</html>
