---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

  {% include browser-upgrade.html %}
  {% include masthead.html %}

  {{ content }}

  <div style="display: flex; flex-wrap: wrap-reverse; align-items:center">
    <div class="page__footer"  style="flex: 100%;">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
    </div>
    <div style="flex: 8em; overflow: hidden; max-width: 8em;">
      <div style="margin-bottom: 1em; margin-left: 3em;">
        <script async defer type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d={{site.view_map_d}}"></script>
      </div>
    </div>
  </div> 
  {% include scripts.html %}

  </body>

</html>
